@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: #e3e7eb;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #f4f3f3;
  padding: 15px 80px;
  align-items: center;
}

nav .left ul {
  display: flex;
  align-items: center;
  padding: 0;
}

nav .left ul img {
  margin-right: 40px;
}

nav .left ul li a {
  color: #000;
  text-decoration: none;
}

nav .left ul li {
  list-style-type: none;
  margin-right: 25px;
}

nav .right a {
  text-decoration: none;
  background-color: #111727;
  padding: 8px 20px;
  border-radius: 8px;
  color: white;
}

/* Form Submission */
form {
  position: relative;
  width: 500px;
  margin: auto;
}

form div {
  margin-top: 15px;
}

form label {
  font-weight: 600;
}

input,
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  margin-top: 2px;
}

form div button {
  position: absolute;
  right: 0;
  background-color: #111727;
  padding: 6px 30px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

textarea {
  resize: none;
  height: 120px;
}

h1 {
  text-align: center;
  margin-top: 40px;
}
